<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446276719557-r1hu2b9e1bktfnafivshofps8o908jmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446276719557-r1hu2b9e1bktfnafivshofps8o908jmo</string>
	<key>API_KEY</key>
	<string>AIzaSyB52LXxKahW2MBQTo8qFV59czjTKwREYV4</string>
	<key>GCM_SENDER_ID</key>
	<string>446276719557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankwebui.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bankwebui</string>
	<key>STORAGE_BUCKET</key>
	<string>bankwebui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446276719557:ios:e2b019129c969c3d8bb1ac</string>
</dict>
</plist>